{
    "printWidth": 120,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "css",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "quoteProps": "as-needed"
}